<!DOCTYPE html>
<html lang="en">

<head>
    <title>Document</title>
    <style>

        main {
            text-align: center;
        }

        h1 {
            font-size: 48px;
            text-shadow: -1px -1px #9df, 1px 1px #49d, -3px 0 4px #000;
            font-family: "Segoe print", Arial, Helvetica, sans-serif;
            color: #6bf;
            padding: 0px 32px 0px 32px;
            font-weight: lighter;
            -moz-box-shadow: 2px 2px 6px #888;
            -webkit-box-shadow: 2px 2px 6px #888;
            box-shadow: 2px 2px 6px #888;
            text-align: center;
            /* display:inline; */
            line-height: 150px;
            background-image: url(images/background-h1-wide.jpg);
        }

        button,
        a {
            box-shadow: 0px 10px 14px -7px #276873;
            background: linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
            background-color: #599bb3;
            border-radius: 8px;
            display: inline-block;
            cursor: pointer;
            color: #ffffff;
            font-family: Arial;
            font-size: 20px;
            font-weight: bold;
            padding: 13px 32px;
            text-decoration: none;
            text-shadow: 0px 1px 0px #3d768a;
        }

        button:hover,
        a:hover {
            background: linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
            background-color: #408c99;
        }

        button:active,
        a:active {
            position: relative;
            top: 1px;
        }

        input {
            width: 20%;
            padding: 12px 20px;
            margin: 8px 0;
            box-sizing: border-box;
            border: 2px solid 408c99;
            border-radius: 12px;
        }

        h1,
        p,
        label {
            color: #408c99;
        }

        label {
            font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
            font-size: large;
        }

        p {
            font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
            font-size: large;
        }

        textarea {
            width: 20%;
            padding: 12px 20px;
            margin: 8px 0;
            box-sizing: border-box;
            border: 2px solid #408c99;
            border-radius: 12px;
        }
    </style>
</head>

<body>
    <header>
        <h1>
            SOCIALIZER
        </h1>
    </header>
    <main>
        <form id="signup" action="/signup" method="POST">
            <label for="username">
                UserName: <input name="username" type="text" required>
            </label>
            <label for="password">
                Password: <input name="password" type="password" required>
            </label>
            <button type="submit">signup</button>
        </form><br><br>
        <form id="signin" action="/signinv2" method="POST">
            <label for="username">
                UserName: <input name="username" type="text" required>
            </label>
            <label for="password">
                Password: <input name="password" type="password" required>
            </label>
            <button type="submit">signin</button>
        </form><br><br>

        <a href="/main">Check out our cool social club app</a> <br> <br>
        <a id="google" href="#">Login VIA GOOGLE</a> <br> <br>
        <a id="git" href="#">Login VIA GITHUB</a>
        <a href="/auth/facebook">Login with Facebook</a>
    </main>
    <script>
        let BASEURL = 'https://accounts.google.com/o/oauth2/v2/auth';
        let queryObject = {
            response_type: 'code',
            client_id: '1082218993942-1ib34ft542p930gk7ilh8ngf8roopm64.apps.googleusercontent.com',
            scope: 'openid email',
            redirect_uri: 'http://localhost:3000/google',
            state: 'http://localhost',
            access_type: 'offline',
        }

        let Query = Object.keys(queryObject).map((val) => {
            return `${val}=` + encodeURIComponent(queryObject[val])
        }).join('&');
        let theAuthURL = `${BASEURL}?${Query}`;
        let url = document.getElementById('google');
        url.setAttribute('href', theAuthURL)
    </script>
    <script>
        let URL = 'https://github.com/login/oauth/authorize';

        let options = {
            client_id: '9946738b5235b46855fc',
            redirect_uri: 'http://localhost:3000/github',
            scope: 'read:user',
            state: '401appconsent'
        }
        let QueryString = Object.keys(options).map(key => {
            return `${key}=` + encodeURIComponent(options[key]);
        }).join('&');

        let authURL = `${URL}?${QueryString}`;

        let link = document.getElementById('git');

        link.setAttribute('href', authURL)
    </script>
</body>

</html>