<!DOCTYPE html>
<html>
<head>
    <title>SIGNING IN WITH GOOGLE</title>
</head>
<body>
    <h1>
        <script>
            alert('already exist')
        </script>
    </h1>
    <form action="/" method="get">
        <button>Go back to sign up</button>
    </form>
</body>
</html>