<!DOCTYPE html>
<html >
<head>
    <title>Document</title>
</head>
<body>
    <h1>schemas </h1>
    <form action="/schemas" method="POST">
    <label> anime  <input name="name" type="radio" value="anime" > </label>
    <label> videogames  <input name="name" type="radio" value="videogames" > </label>
    <label> developers  <input name="name" type="radio" value="developers" > </label>
    <label> maths  <input name="name" type="radio" value="maths" > </label>
    <label> sciences  <input name="name" type="radio" value="sciences" > </label>
    <button type="submit"> send </button>
    </form>

</body>
</html>